@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Adorage'), url('./fonts/NotoSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Adorage'), url('./fonts/NotoSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Adorage'), url('./fonts/NotoSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Adorage'), url('./fonts/NotoSans-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Adorage';
    font-style: normal;
    font-weight: 400;
    src: local('Adorage'), url('./fonts/Adorage.woff') format('woff');
}


:root {
    --main-color: #e9d7b8;
    --red-color: #ff2326;
    --green-color: #00B96C;
    --background-color: #FFCE3C;

    --accent-font-weight: 700;
    --accent-font: "Adorage";
    /*--accent-font: "Chromate-Regular";*/
}

* {
    font-family: 'Noto Sans', sans-serif;
}

body, #wrapper {
    min-height: 100vh;
    background-color: var(--background-color);
}

header {
    border-bottom: 1px solid #ccc;
    vertical-align: center;
    background-color: white;
}

#site-title {
    color: #EFB253;
    font-size: 18px;
    margin-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#logo {
    width: 80px;
}

.sponsor-logos {
    width: 50%;
}

#site-title a {
    color: inherit;
    text-decoration: none;
}


.navbar-toggler {
    font-size: 1rem;
}

.main {
    max-width: 1200px;
}

.job-status tr:last-child td {
    border-bottom: 0px;
}

/* Landing page header content */
.bold-header {
    font-family: var(--accent-font), serif;
    font-weight: var(--accent-font-weight);
    font-size: 5rem;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 2.5;
}

.bold-subheader {
    font-family: var(--accent-font), serif;
    font-weight: var(--accent-font-weight);
    font-size: 2rem;
    line-height: 2;
}

#landing-abstract {
    /*height: 90vh;*/
    text-align: center;
    /*border: black solid 12px;*/
}

#landing-abstract .btn {
    margin-top: 40px;
}

/* --------- */


.subsection {
    padding: 100px 20px 50px 20px;
    margin: 50px auto;
    font-size: 1.2rem;
    text-align: justify;
}

.content {
    padding-top: 16px;
    padding-bottom: 16px;
}

.long-text {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.accent-header {
    font-family: var(--accent-font), sans-serif;
    font-weight: var(--accent-font-weight);
}

.center-text {
    text-align: center;
}

.centering-parent {
    text-align: center;
}
#popup {
    margin: 20px;
    width: 70%;
    object-fit: contain;
}
.image-caption {
    font-style: italic;
    font-size: 1rem;
}

#aboutpage {
    width: 70%;
}

pre.codeblock {
    background-color: var(--bs-gray-100);
    padding: 8px;
    border-radius: 6px;
}

footer {
    font-size: 12px;
    height: 31px;
    line-height: 30px;
    border-top: 1px solid #fab446;
    color: #333;
    width: 100%;
    background-color: white;
}

/* FORM stuff */

.form-select {
    width: auto;
}

.form-text {
    color: #533501;
}

legend.sub-legend {
    font-size: 1rem;
}

/* ----------- */

/* BOOTSTRAP OVERWRITE */
.btn-primary {
    --bs-btn-bg: #de8b08;
    --bs-btn-border-color: #b57203;
    --bs-btn-hover-bg: #e28e16;
    --bs-btn-hover-border-color: #cd7f10;
    --bs-btn-active-bg: #e28901;
    --bs-btn-active-border-color: #ca7b01;
    --bs-btn-disabled-bg: #eac78c;
    --bs-btn-disabled-border-color: #cdac7c;
}

.form-check-input:checked {
    background-color: var(--green-color);
    border-color: #019657;
}

code {
    color: black;
    font-weight: 900;
}

.text-bg-secondary {
    background-color: var(--green-color) !important;
}