body, #wrapper {
    min-height: 100vh;
}

header {
    border-bottom: 1px solid #ccc;
    vertical-align: center;
}

#site-title {
    color: #f9007e;
    font-size: 18px;
    margin-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#site-title a {
    color: inherit;
    text-decoration: none;
}

.navbar-toggler {
    font-size: 1rem;
}
.main {
    max-width: 1200px;
}

.content {
    padding-top: 16px;
    padding-bottom: 16px;
}

pre.codeblock {
    background-color: var(--bs-gray-100);
    padding: 8px;
    border-radius: 6px;
}

footer {
    font-size: 12px;
    height: 31px;
    line-height: 30px;
    border-top: 1px solid #ccc;
    color: #333;
    width: 100%;
}